{% extends 'base.html.twig' %}

{% block body %}
    {# templates/lucky/number.html.twig #}
    <h1>Ваше счастливое число - {{ number }}</h1>
    <h2>Сгенерированный url: {{ generated_url }}</h2>
{% endblock %}
